<?xml version="1.0"?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

  <route id="pbjx" path="/{pbjx_vendor}/{pbjx_package}/{pbjx_category}/{pbjx_message}">
    <default key="_controller">gdbots_pbjx.pbjx_controller:handleAction</default>
    <requirement key="pbjx_vendor">[a-z0-9-]+</requirement>
    <requirement key="pbjx_package">[a-z0-9\.-]+</requirement>
    <requirement key="pbjx_category">([a-z0-9_-]+)?</requirement>
    <requirement key="pbjx_message">[a-z0-9-]+</requirement>
  </route>

</routes>
